main.container.white-background
    h1 FAQ 
    .center-text style="margin-bottom: 20px" Perguntas frequentes
    input.busca style="width: 70%; margin: 0 auto; display: block; height: 50px; margin-bottom: 40px"


    .perguntas
        markdown:
            ## Tenho que pagar impostos por venda em permuta?  

            Sim, a venda em venda em permuta funciona como qualquer outra venda normal, onde deve ser emitida nota fiscal

            ## Como tenho controle das minhas vendas e compras em permuta na Tradaq  

            A sua empresa pode visualizar seu extrato de conta através do site www.tradaq.com.br

            ## Não tenho mais interesse em fazer negócios com a Tradaq, como faço para sair do sistema  

            É muito simples, caso possua créditos em sua conta corrente basta utilizá-los para sair do sistema ou caso haja débitos na sua conta de permuta, basta quitá-los para sair do sistema.

            ## As vendas são feitas somente em permutas?  

            A maioria das vendas são feitas em permutas, principalmente nas negociações de mídias e serviços. Em alguns outros casos nas vendas de produtos, terceirização de mão-de-obra ou quando o valor da venda é muito alto, a Tradaq permite que parte dessa transação seja feita em dinheiro.

            ## Fiz uma venda em permuta para um restaurante, porém ele não é associado à Tradaq. Como posso converter esta permuta em outros serviços que necessito, visto que não consigo consumir pessoalmente todos estes créditos em permuta que tenho com este restaurante?  

            Nesse caso, a Tradaq pode vender os créditos em permuta que tem com esse restaurante para os demais associados à Tradaq. Ao realizarmos esta venda, sua empresa receberá os únicos em sua conta de permuta, possibilitando desta forma, a troca dos créditos de permuta deste restaurante em outros produtos ou serviços que sua empresa necessita. Qualquer permuta que sua empresa tenha feito, a Tradaq pode vender a permuta em troca de outros produtos ou serviços que sua empresa necessite.

            ## Como é possível comprar e vender para diversas empresas em permuta?  

            Cada empresa associada à Tradaq possui uma conta corrente de permuta onde são contabilizados créditos e débitos (compra e venda), possibilitando desta forma a permuta multilateral.

            ## Qual vantagem financeira minha empresa tem em fazer permuta?

            Existem três grandes vantagens financeiras:  
            1 – COMPRAR SEM GASTAR DINHEIRO; Através da permuta, sua empresa pode comprar sem gastar dinheiro, preservando assim seu fluxo de caixa.  
            2 – MAIOR LUCRATIVIDADE; Quando substituímos despesas em dinheiro pagando em permuta, transformamos as vendas adicionais de permuta em lucro.  
            3 – PAGUE MENOS POR PRODUTOS E SERVIÇOS; Quando sua empresa compra pagando em permuta, ela tem um desconto relativo à sua própria margem no preço dos produtos ou serviços a serem adquiridos.  

            ## Sou um prestador de serviços e fiz uma venda em permuta via Tradaq para um hotel no valor de R$10.000,00. Vou receber isso em diárias de hotel?

            Não, sua empresa vai receber 10.000 únicos em sua conta corrente de permuta junto a Tradaq. Dessa forma sua empresa não ficará amarrada a diárias de hotel, podendo utilizar os 10.000 únicos em qualquer outra empresa participante da Tradaq.

            ## Qual a política de preço praticado pelos clientes da Tradaq nas vendas em permuta?

            A Tradaq exige que os participantes pratiquem preço de mercado.

            ## Os clientes Tradaq são obrigados a fazer negócios?

            Não. Os associados Tradaq podem definir como e quando querem vender seus serviços ou produtos de sua empresa.

            ## Como fico sabendo dos demais produtos existentes dentro da Tradaq?

            Toda empresa associada à Tradaq possui um gerente de contas personalizado e responsável em te assessorar nas compras e vendas a serem realizadas. Além disso, realizamos eventos mensais de network, email marketing, que é enviado diariamente para todos os associados e temos também o site como uma grande ferramenta de informação.

            ## O preço em permuta é o mesmo se comprarmos em dinheiro?

            Nós trabalhamos para que o preço seja o mesmo praticado nas transações normais. Em alguns casos pode haver uma oferta especia que não se aplica para permutas, assim como pode não se aplicar para vendas a prazo. Mas mutias vezes nossos associados oferecem descontos mesmo nas permutas. A pergunta é pertinente poque é comum em permutas traddicionais (bilaterais) a prática do preço de lista ou mesmo de ágio, porque a permuta bilateral não é atrativa. No caso da Tradaq, todas as transações são atrativas, por isso não se justifica um preço maior do que o praticado normalmente .